.App {
  text-align: center;
}

body {
  background-color: #e5e5e5;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #392548;
}

.App-header h1 {
  margin-block-start: 0.1em;
  margin-block-end: 0.1em;
}
